@model MagStore.Models.FornecedorViewModel
@{
    ViewData["Title"] = "Editar Fornecedores";
}

<h2 class="text-center">Editar Fornecedor</h2><br>

<hr />

<div class="row">
  <div class="col-md-4">
    <form asp-controller="Fornecedor" asp-action="Salvar" method="post">

      <input type="hidden" asp-for="IdFornecedor">
      
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input type="text" asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label asp-for="Endereco" class="control-label"></label>
        <input type="text" asp-for="Endereco" class="form-control">
        <span asp-validation-for="Endereco" class="text-danger"></span>
      </div>

      <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary">
      </div>

    </form>
  </div> <!-- Fim do Formulário-->
</div> <!-- row -->