@model IEnumerable<AppWeb.Models.FornecedorViewModel>
@{
    ViewData["Title"] = "Lista dos Fornecedores";
}

<h2>Lista dos Fornecedores</h2><br>

<a href="~/Fornecedor/New" class="btn btn-primary">Adicionar Fornecedor</a>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Valor</th>
      <th> Editar | Deletar </th>
    </tr>
  </thead>
  
  <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>@item.IdFornecedor</td>
          <td>@item.Nome</td>
          <td>@item.Endereco</td>
          <td>
            <a href="~/Fornecedor/Editar/@item.IdFornecedor">Editar</a> | 
            <a href="~/Fornecedor/Delete/@item.IdFornecedor">Deletar</a>
          </td>
        </tr>
      }

  </tbody>
</table>