@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>Primeiro Crud com C# e Bootstrap4 integrado com Banco de Dados na Azure!</a>.</p>
</div>
