@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>Primeiro Crud com C# ASP.NET Core padrão MVC com Banco de Dados na Azure! Bootstrap para o Front-End</a>.</p>
</div>
