@{
    ViewData["Title"] = "Autor";
}
<h1>@ViewData["Title"]</h1>

<div id="sobre">
      <div class="container">
        <div class="row ">
          <div class="col ">
            <div id="sobred ">
              <div class="card bg-white align-items-center">
                <div class="card-title">
                  <div class="media-body ">
                    <h3 class="display-4">Nikolas Magno</h3>
                    <p class="text-muted ml-3">Desenvolvedor Web</p>
                    <table class="table table-responsive ">
                      <tr>
                        <td class="text-muted">Idade :</td>
                        <td>26 anos</td>
                      </tr>
                      <tr>
                        <td class="text-muted">E-mail :</td>
                        <td>nmagno.job@gmail.com</td>
                      </tr>
                      <tr>
                        <td class="text-muted">Contato :</td>
                        <td>(11) 94541-9533</td>
                      </tr>
                    </table>
                  </div><!-- Media Body -->
                </div><!-- Card Title -->
              </div><!-- Card BG -->
            </div><!-- SobreD -->
          </div><!-- col -->
        </div><!-- row -->
        <div class="card-footer bg-primary d-flex justify-content-around flex-container">
          @* <a href="encurtador.com.br/uRWZ0" target="_blank"><button type="button" class="btn btn-danger flex-btn">CURRICULO</button></a>
          <a href="encurtador.com.br/eCOZ1" target="_blank"><button type="button" class="btn btn-info flex-btn">LINKEDIN</button></a>
          <a href="encurtador.com.br/eor12" target="_blank"><button type="button" class="btn btn-dark flex-btn">GITHUB</button></a> *@
        </div>
      </div><!-- Container -->

      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <span class="bg-success text-white">Sobre</span><hr class="bg-success">
            <p class="lead text-justfy">
              Primeiro projeto feito com ASP.NET Core C# no padrão MVC.
            </p>
            <p>
              É meu primeiro projeto com C#, um Crud Simples com autentificação de login, um banco de dados integrado utilizando Azure.<br>
              Como Back-End foi utilizado C# e SQL, na parte do Front-End foi utilizado Bootstrap4. <br>
              Temos primeiramente a parte de autentificação para que possamos acessar o banco de dados, depois conseguirmos ter acesso para criar, deletar e apagar informações do Banco
            </p>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- Sobre -->